<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div>Products</div>
<form th:action="@{/add_product}" th:object="${product_add}" method="post">
    <div>
        <label for="productName">Add Product</label>
        <input th:field="*{productName}" type="text" id="productName"/>
    </div>
    <button type="submit" value="Submit">Add Product</button>
</form>
<form th:action="@{/add_category}" th:object="${category}" method="post">
    <div>
        <label for="categoryName">Add Category</label>
        <input th:field="*{categoryName}" type="text" id="categoryName"/>
    </div>
    <button type="submit" value="Submit">Add Category</button>
</form>
Products
<div>
    <table th:each="category :${categories}">
        <thead>
        <tr>
            <th th:text="${category.categoryName}"/>
        </tr>
        <a th:href="@{/delete_category(category_id=${category.getCategoryId()})}" class="ui-button">Delete</a>
        </thead>
        <tbody>

        <tr th:each="product : ${category.getProducts()}">
            <td><span th:text="${product.productName}"/>
            </td>
            <td>
                <a th:href="@{/delete_product(product_id=${product.getProductId()})}" class="ui-button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>